<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Titulo
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <div>
      <span class="titleHome"> bem vindo ao aplicativo de agendamentos da barbearia
         </span>
    </div>

    <div>
      <ion-button color="dark" [routerLink]="['/agenda']">Entrar</ion-button>
    </div>


  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-col>
      <div class="ion-text-center sm-2">
        aplicativo em fase de testes, caso queira sugerir algo <a>clique aqui</a>
      </div>
    </ion-col>
  </ion-toolbar>
</ion-footer>
